body {
    background-color: #24202b;
    width: 100%;
    height: 100vh;
    margin: 0;
    color: #fafafa;
    font-family: sans-serif;
}

.dialog {
    border: 1px solid #fafafa;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1rem;
    min-width: 10em;
}

.dialog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

.layout-element {
    padding: 0.5rem;
}

button {
    padding: 0.5rem;
    min-width: 5em;
    background-color: rgba(200, 200, 255, 0.2);
    border: 1px solid #aaaacc;
    cursor: pointer;
    color: inherit;
}
