body {
    background-color: #24202b;
    width: 100%;
    height: 100vh;
    margin: 0;
    color: #fafafa;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

@keyframes bg-shift {
    0% {
        transform: translate(-50vw, -50vh);
    }

    30% {
        transform: translate(-58vw, -55vh);
    }

    60% {
        transform: translate(-40vw, -65vh);
    }

    100% {
        transform: translate(-50vw, -50vh);
    }
}

.dialog {
    border: 1px solid #fafafa;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1rem;
    margin: 1rem;
    min-width: 10em;
}

.dialog, .dialog form {
    display: flex;
    flex-direction: column;
}

.dialog button {
    align-self: flex-end;
}

.dialog-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
}

.dialog input {
    display: block;
    margin: .5rem 0;
    width: 100%;
    line-height: 2;
}

button {
    padding: 0.5rem;
    min-width: 6em;
    background-color: rgba(200, 200, 255, 0.2);
    border: 1px solid #aaaacc;
    cursor: pointer;
    color: inherit;
    margin: .5rem;
}
