# Linting
flake8
flake8-docstrings
flake8-print
flake8-commas
flake8-bugbear
flake8-string-format
pylint

# Testing
pytest
pytest-cov
pytest-greendots
pytest-flask
pytest-watch
hypothesis
retry

# Local deployment
uwsgi

# Niceness
ipython
flask-shell-ipython

# Tests
freezegun
